/**
 * @brief QrazyTimes2, a theme for Dotclear 2
 *
 * @package Dotclear
 * @subpackage Theme
 *
 * @author Pierre Van Glabeke
 * @copyright https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 */

/* CUSTOM CONTENT */
#blogabout {
  display:block;
  margin : 0;
  padding : 0;
}
#blogabout #about {
  margin : 0 10px;
}
#about a, #about a:link {
  text-decoration : underline;
}
#about a:hover {
  text-decoration : none;
}